header {
    font-size: 50px;
    background-color: #000000;
    color: white;
} 
.INOHA {
background-color: #000000;
color:aqua ;
} 
.Nirvana {
    background-color: #000000;
    color: #FFFF00;

}
button {
    font-size: 30px;
    border-radius: 10px;
    background-color: #000000;
    color: #FFFF00;

}