header {
  background-image: url(Never-Mind-capa.jpg);
  background-size: cover; /* Faz a imagem cobrir todo o espaço */
  background-position: center; /* Centraliza a imagem na caixa */
  background-color: #1f2020;
  color: #FFFF00;
  text-align: center;
  padding: 40px 40px; /* Dá espaço para a imagem aparecer bem */

} 
.INOHA {
background-color: #00F8F8;
color: #000000 ;

} 
.Nirvana {
    background-color: #1f2020;
    color: #FFFF00;
}